git+git://github.com/vtkiorg/vtki@master
git+git://github.com/OpenGeoVis/PVGeo@master
discretize>=0.4.1
git+git://github.com/simpeg/simpeg@MagDev_DF_Dask
dask
omf==1.0.0
omfvtk>=0.0.9
xlrd>=1.1.0
lasio
pyshp
sklearn
matplotlib
appdirs
Sphinx
sphinx-autobuild
sphinx-rtd-theme
sphinxcontrib-napoleon
sphinxcontrib-websupport
pytest-sphinx
git+git://github.com/rtfd/sphinx-notfound-page@master
sphinx-copybutton
sphinx-gallery
nbval
